<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Firebase in office 360</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBVOO3fnz_V74fmbLSKW-eeZDmJEuE8m7Y",
        authDomain: "office360-34a31.firebaseapp.com",
        projectId: "office360-34a31",
        storageBucket: "office360-34a31.appspot.com",
        messagingSenderId: "376387233651",
        appId: "1:376387233651:web:249cb5cbb7bec1dffd4706"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
</body>
</html>