<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Office 360 Senla Company</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<script type="text/javascript" th:inline="javascript">
    let panoramas = [[${panoramas}]];
    let panoramaLinks = [[${panoramaLinks}]];
</script>
<div id="container"></div>
<div id="person-info"></div>
<div id="map-container" class="container" style="display:block">
    <input type="image" id="mapButton" src="./image/map.png" name="map" alt="map"/>
    <!-- The Modal -->
    <div id="modal-plan" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <button id="mapButton12">12 Floor</button>
            <button id="mapButton15">15 Floor</button>
            <button id="mapButton20">20 Floor</button>
        </div>
    </div>
    <button id="rotateButton">Rotate</button>
</div>
<!-- the better way - download *min.js to project folder -->
<script src='./js/three.min.js'></script>
<script src='./js/panolens.min.js'></script>
<script src="./js/script.js"></script>

</body>
</html>
